aside{
  position: fixed;
  right: 70px;
  top: calc(50% - 43px);
}
aside ul{
   
}
aside ul li{
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
aside ul li:not(:last-child){
  margin-bottom: 20px;
}
aside ul li a{
  font-size: 0;
  display: block;
  width: 4px;
  height: 4px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2px;
}
aside ul li a::after{
  content: "";
}

.side {
  border: 1px solid;
  border-radius: 50%;
}